.nav-btn {
  --button-horizontal-padding: 36px;
}

.nav-btn-active {
  --button-primary-color: '#f3c8adp';
  --button-secondary-color: '#f3c8adp';
}

@media screen and (max-width: 768px) {
  .css-gvoll6 {
    display: none;
  }
}
